@import '~bulma/bulma.sass';


.Home {
  background: rgb(255,101,91);
  background: linear-gradient(35deg, rgba(255,101,91,1) 0%, rgba(255,88,100,1) 49%, rgba(253,41,123,1) 100%);
      div div p {
        font-size: 40px;
        font-weight: 500;
      }
      .all-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 10%;
        
        .start{
          color: #404040;
          animation: low-glow 1.5s infinite 0s linear;
        }
        @keyframes low-glow {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
            100% {
            opacity: 1;
          }
        }
      }
}

.Title {
  margin: auto 0;
  font-size: 200%;
}

.Navbar {
display: flex;
justify-content: space-between;
height: 100px;
padding: 0 60px;
margin-top: 12px;
  
  img{
    height: 80px;
  }
  
  .Burger-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    border: 1px solid #808080;
    border-radius: 6px;
    .Burger {
      width: 25px;
      height: 1px;
      background-color: #808080;
      margin: 4px 5px;
    }
    :first-child {
      margin-top: 6px;
    }
    :last-child {
      margin-bottom: 6px;
    }
  }
}



.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  padding: 0.5vh;
  background-color: white;
  border: 1vh solid #d8d6d6;
  border-radius: 100%;
  box-shadow: 0 2px rgb(138, 137, 137);
  cursor: pointer;
}

.DinderRandom {
  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 50%;
    }
  }
}

.DinderMatch {
  .top-section {
    display: flex;

    .meal-title {
      margin: 0 10%;
    }
    .meal-ingredients {
      margin: 0 10%;
      
    }
    .ingredients {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      margin: 0 auto;
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
}


@media only screen and (max-width: 800px) {
 
  .DinderMatch {
    .top-section {
      flex-direction: column;
      margin: 50px;
      .ingredients {
        
        width: 100%;
        .buttons {
          
          width: 100%;
          
        }
      }
    }
  }
}