@import '~bulma/bulma.sass';


.Home {
  background: rgb(255,101,91);
  background: linear-gradient(35deg, rgba(255,101,91,1) 0%, rgba(255,88,100,1) 49%, rgba(253,41,123,1) 100%);
      div div p {
        font-size: 40px;
        font-weight: 500;
      }
      .all-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 10%;
        
        .start{
          color: #404040;
          animation: low-glow 1.5s infinite 0s linear;
        }
        @keyframes low-glow {
          0% {
            opacity: 1;
          }
          50% {
            opacity: 0;
          }
            100% {
            opacity: 1;
          }
        }
      }
}

.Error {
  background: rgb(255,101,91);
  background: linear-gradient(35deg, rgba(255,101,91,1) 0%, rgba(255,88,100,1) 49%, rgba(253,41,123,1) 100%);
  .error-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
    margin: 0 10%;
    text-align: center;
  }
}

.Title {
  margin: auto 0;
  font-size: 200%;
}

.Navbar {
display: flex;
justify-content: space-between;
height: 100px;
padding: 0 60px;
margin-top: 12px;
  
  img{
    height: 80px;
  }
  
  .Burger-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    border: 1px solid #808080;
    border-radius: 6px;
    cursor: pointer;
    .Burger {
      width: 25px;
      height: 1px;
      background-color: #808080;
      margin: 4px 5px;
    }
    :first-child {
      margin-top: 6px;
    }
    :last-child {
      margin-bottom: 6px;
    }
  }
}



.round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10vh;
  height: 10vh;
  padding: 0.5vh;
  background-color: white;
  border: 1vh solid #d1cfcf;
  border-radius: 100%;
  box-shadow: 0 6px 5px rgb(138, 137, 137);
  cursor: pointer;
}

.dislike {
  animation: fly-in-left 0.25s 1 0s linear;
}

.like {
  animation: fly-in-right 0.25s 1 0s linear;
}

@keyframes fly-in-left{
  0%{
      transform: rotate(0) translateX(-10vw) translateY(10vh);
      }
  29%{
      transform: rotate(0) translateX(-7vw) translateY(5vh);
      }
  62%{
      transform: rotate(0) translateX(-4vw) translateY(3vh);
      }
  100%{
      transform: rotate(0) translateX(0) translateY(0);
      }
}

@keyframes fly-in-right{
  0%{
      transform: rotate(0) translateX(10vw) translateY(10vh);
      }
  29%{
      transform: rotate(0) translateX(7vw) translateY(5vh);
      }
  62%{
      transform: rotate(0) translateX(4vw) translateY(3vh);
      }
  100%{
      transform: rotate(0) translateX(0) translateY(0);
      }
}



.round-btn:hover {
  border: 1vh solid #d6d4d4;
  border-radius: 100%;
  box-shadow: 0 6px 5px rgb(138, 137, 137);
  cursor: pointer;
}
.round-btn:active {
  border: 1vh solid #d6d4d4;
  border-radius: 100%;
  box-shadow:  0 1px rgb(138, 137, 137);
  transform: translate(0px, 5px);
  cursor: pointer;
}

.DinderRandom {
  .columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content {
      padding: 20px;
      h1, h3{
        margin: 3px;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 50%;
    }
  }
}

.DinderMatch {
  .top-section {
    display: flex;

    .meal-title {
      margin: 0 10%;
    }
    .meal-ingredients {
      margin: 0 10%;
      
    }
    .ingredients {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      margin: 0 auto;
      .meal-title {
        padding-bottom: 5px;
        border-bottom: 1px solid grey;
      }
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
      }
    }
  }
  .method {
    margin: 20px 0 0 0;
  }
}


@media only screen and (max-width: 800px) {

  .Navbar {
    height: 50px;
    img {
      height: 40px;
    }
  }
 
  .DinderMatch {
    .top-section {
      flex-direction: column;
      margin: 20px;
      .ingredients {
        margin: 10px 0 0 0;
        width: 100%;
        padding: 0;
        .meal-title {
          margin: 10px 0;
          padding-bottom: 5px;
          border-bottom: 1px solid grey;
        }
        .meal-ingredients {
          margin: 10px 0;
        }
        .buttons {
          margin: 10px 0 ;
          order:-1;
          width: 100%;
          
        }
      }
    }
  }
}